body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .column {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .left-column {
    background-color: #f9f9f9;
  }

    /* Images should scale to 100% width */
    .left-column img {
        width: 7.5%; /* Image will take 100% of the container width */
        max-width: 600px; /* Optional: set a max-width */
        height: auto; /* Maintain aspect ratio */
        border: 1px solid #ccc; /* Optional: add border */
        border-radius: 8px; /* Optional: rounded corners */
    }
  
  .middle-column {
    background-color: #f4f4f4;

    width: 100%; /* Full width of the container */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center images horizontally */
    gap: 10px; /* Add spacing between images */
  }

  /* Images should scale to 100% width */
  .middle-column img {
    width: 100%; /* Image will take 100% of the container width */
    max-width: 600px; /* Optional: set a max-width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional: add border */
    border-radius: 8px; /* Optional: rounded corners */
  }

  .right-column {
    background-color: #efefef;
  }

  .right-column img {
    width: 100%; /* Image will take 100% of the container width */
    max-width: 600px; /* Optional: set a max-width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional: add border */
    border-radius: 8px; /* Optional: rounded corners */
  }

  #cow-container {
    flex-basis: 10%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #cow-container p {
    margin-top: 1px; 
    margin-right: 1px; 
    margin-bottom: 1px; 
    margin-left: 1px;
  }
  
  img {
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 3px;
  }
  
  img:hover {
    border: 2px solid rgb(255, 0, 0);
  }